<section class='home-about'>
  <h2 class='main-title-h2'>Acerca de Mi</h2>
  <p class='main-text'>
    <b>!Hola! </b>, Mi nombre es MrFantasma y soy un Programador y Soporte TI de 22 a帽os de edad y vivo en Concepci贸n, Chile. Actualmente, cuento con una formaci贸n T茅cnica en el 谩rea de Analista
    Programador.

    <br /><br />

     Me encanta programar y estar al tanto de la 煤ltimas novedades tecnol贸gicas. Aunque distruto tanto del <b>Front-End</b> como del <b>Back-End</b>, mi coraz贸n se inclina m谩s hacia el <b>Back-End</b
    >.

    <br /><br />

     Mi especializaci贸n se centra en el <b>Desarrollo de Web</b> y <b>Micro Servicios</b>, adem谩s de administrar servidores tanto <b>Windows Server</b> como <b>Linux Server</b>. En la actualidad,
    estoy inmerso en el mundo del desarrollo utilizando el framework de <b>NodeJS</b> (
    <a href='https://expressjs.com/' target='_blank'>Express.JS</a> ) junto con los lenguajes de programaci贸n
    <a href='https://www.typescriptlang.org/' target='_blank'>TypeScript</a> y

    <a href='https://developer.mozilla.org/es/docs/Web/JavaScript' target='_blank'>JavaScript</a>.

    <br /><br />

     Si tienes alguna pregunta, deseas colaborar en proyectos o simplemente hablar sobre tecnolog铆a, 隆estar茅 encantado de conectarme contigo!
  </p>
</section>

<style>
  .home-about {
    width: 100%;
    margin-bottom: 2rem;
  }
</style>
