<section class='home-banner' id='home'>
  <div>
    <h1 class='main-title'>>_ Mr.Fantasma</h1>
    <p class='main-subtitle'>Desarrollador Back-End | Soporte TI | Analista Programador</p>
    <div>
      <a class='main-button' href='https://github.com/FantaCovid-19'>
        <span class='main-button-container'>
          <span class='main-button-content'>
            Github <i class='fas fa-external-link-alt'></i>
          </span>
        </span>
      </a>
      <a class='main-button' href='https://drive.google.com/file/d/1SBGaP-V23wYqkW1E8zpEoqPeiLDLq2iv/view?usp=sharing'>
        <span class='main-button-container'>
          <span class='main-button-content'>
            Curriculum <i class='fas fa-external-link-alt'></i>
          </span>
        </span>
      </a>
    </div>
  </div>
  <img class='home-image' src='/img/profile.png' />
</section>

<style>
  .home-banner {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }

  .home-image {
    width: 250px;
    border-style: none;
  }

  @media only screen and (max-width: 650px) {
    .home-banner {
      height: auto;
      flex-direction: column-reverse;
      margin: 2rem 0;
    }
  }
</style>
