<section class='home-contact'>
  <h2 class='main-title-h2'>Contactos</h2>

  <div class='container-contact'>
    <div class='contact-form'>
      <form action='https://formspree.io/f/xknlyjww' method='post'>
        <label>
          <p>Nombre:</p>
          <input type='text' name='name' placeholder='Tu nombre' required />
        </label>

        <label>
          <p>Email:</p>
          <input type='email' name='email' placeholder='Tu email' required />
        </label>

        <label>
          <p>Mensaje:</p>
          <textarea name='message' placeholder='Tu mensaje' required></textarea>
        </label>

        <button type='submit'>Enviar</button>
      </form>
    </div>

    <div>
      <div class='item-contact'>
        <p class='contact-subtitle'>Email:</p>
        <div class='contact-content'>
          <a href='mailto:contact@mrfantasma.com'> contact@mrfantasma.com <i class='fas fa-external-link-alt'></i></a>
        </div>
      </div>

      <div class='item-contact'>
        <p class='contact-subtitle'>Github:</p>
        <div class='contact-content'>
          <a href='https://github.com/FantaCovid-19'> FantaCovid-19 <i class='fas fa-external-link-alt'></i></a>
        </div>
      </div>

      <div class='item-contact'>
        <p class='contact-subtitle'>Twitter:</p>
        <div class='contact-content'>
          <a href='https://twitter.com/mrfantasma'> @MrFantasma <i class='fas fa-external-link-alt'></i></a>
        </div>
      </div>

      <div class='item-contact'>
        <p class='contact-subtitle'>Instagram:</p>
        <div class='contact-content'>
          <a href='https://www.instagram.com/mrfantasma_/'> MrFantasma_ <i class='fas fa-external-link-alt'></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .container-contact {
    width: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
    column-gap: 3rem;
  }

  .contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .contact-form label {
    color: var(--text-color-II);
  }

  .contact-form p {
    margin: 0 0 1rem 0;
  }

  .contact-form input,
  textarea {
    width: 100%;
    padding: 0.5rem 1.5rem;
    border: 0.1rem solid var(--text-color-III);
    background-color: transparent;
    color: var(--text-color-I);
    font-size: 1rem;
    font-family: var(--font-family);
  }

  .contact-form input:focus,
  textarea:focus {
    outline: none;
    border: 0.1rem solid var(--text-color-I);
  }

  .contact-form button {
    margin: 0 auto;
    padding: 0.5rem 1.5rem;
    border: 0.1rem solid var(--text-color-III);
    background-color: transparent;
    color: var(--text-color-I);
    font-size: 1rem;
    font-family: var(--font-family);
    cursor: pointer;
  }

  .item-contact {
    display: grid;
    grid-template-columns: 100px max-content;
    align-items: center;
  }

  .contact-subtitle {
    color: var(--text-color-II);
  }

  .contact-content {
    cursor: pointer;
    font-size: 14px;
  }

  .contact-content a {
    color: var(--text-color-I);
    text-decoration: none;
  }

  @media only screen and (max-width: 650px) {
    .container-contact {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    .item-contact {
      grid-template-columns: 100px 1fr;
    }
  }
</style>
