<section class='home-contact'>
  <h2 class='main-title-h2'>Contactos</h2>

  <div class='container-contact'>
    <div class='item-contact'>
      <p class='contact-subtitle'>Email:</p>
      <div class='contact-content'>
        <a href='mailto:contact@mrfantasma.com'> contact@mrfantasma.com <i class='fas fa-external-link-alt'></i> </a>
      </div>
    </div>

    <div class='item-contact'>
      <p class='contact-subtitle'>Github:</p>
      <div class='contact-content'>
        <a href='https://github.com/FantaCovid-19'> FantaCovid-19 <i class='fas fa-external-link-alt'></i> </a>
      </div>
    </div>

    <div class='item-contact'>
      <p class='contact-subtitle'>Twitter:</p>
      <div class='contact-content'>
        <a href='https://twitter.com/mrfantasma'> @MrFantasma <i class='fas fa-external-link-alt'></i> </a>
      </div>
    </div>

    <div class='item-contact'>
      <p class='contact-subtitle'>Instagram:</p>
      <div class='contact-content'>
        <a href='https://www.instagram.com/mrfantasma_/'> MrFantasma_ <i class='fas fa-external-link-alt'></i> </a>
      </div>
    </div>
  </div>
</section>

<style>
  .container-contact {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .item-contact {
    display: grid;
    grid-template-columns: 100px max-content;
    align-items: center;
  }

  .contact-subtitle {
    color: var(--text-color-II);
  }

  .contact-content {
    cursor: pointer;
    font-size: 14px;
  }

  .contact-content a {
    color: var(--text-color-I);
    text-decoration: none;
  }

  @media only screen and (max-width: 650px) {
    .container-contact {
      display: flex;
      flex-direction: column;
      gap 0
    }

    .item-contact {
      grid-template-columns: 100px 1fr;
    }
  }
</style>
