<section class='home-exp'>
  <h2 class='main-title-h2'>Experiencia</h2>

  <div class='card-exp'>
    <div class='card-details'>
      <b>Github MrFantasma</b>
      <p>Dic 2022 - Presente</p>
    </div>
    <div class='card-content'>
      <h3 class='card-title'>
        Desarrollador Back-End, <br />
        <b>Concepción, Chile</b>
      </h3>
      <p class='card-text'>
        Como desarrollador back-end freelance, he trabajado de manera independiente para crear y mantener la funcionalidad de aplicaciones web y sistemas, centrándome en la programación de la lógica
        que permite que los sitios web y las aplicaciones funcionen sin problemas. Mi enfoque se ha basado en la creación de servidores, bases de datos y la gestión de la lógica de negocios,
        colaborando con clientes para traducir sus requisitos en soluciones técnicas eficientes. Desarrollador en los siguientes Lenguajes:
      </p>
      <ul class='main-list'>
        <li>
          <span class='main-list-container'>
            <span class='main-list-icon'>◇</span> Node.js: Entorno de ejecución de JavaScript.
          </span>
        </li>
        <li>
          <span class='main-list-container'>
            <span class='main-list-icon'>◇</span> TypeScript: Lenguaje de programación de código abierto desarrollado y mantenido por Microsoft.
          </span>
        </li>
        <li>
          <span class='main-list-container'>
            <span class='main-list-icon'>◇</span> JavaScript: Lenguaje de programación de alto nivel, dinámico, débilmente tipado, basado en prototipos, multi-paradigma e interpretado.
          </span>
        </li>
        <li>
          <span class='main-list-container'>
            <span class='main-list-icon'>◇</span> Express.js: Framework para Node.js que permite crear aplicaciones web y API's de una manera mucho más simple y fácil.
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class='card-exp'>
    <div class='card-details'>
      <b>Clínica Sanatorio Alemán</b>
      <p>Sep 2022 - Nov 2022</p>
    </div>
    <div class='card-content'>
      <h3 class='card-title'>
        Desarrollador Full-Stack,
        <br /><b>Concepción, Chile</b>
      </h3>
      <p class='card-text'>
        Este proyecto consistió en desarrollar un sistema de gestión de inventario para productos de tecnología de la información (TI) utilizados en una clínica. Permitió a la clínica llevar un
        registro de productos TI, controlar existencias, realizar movimientos de inventario y generar informes. Además, el sistema incluyó la funcionalidad de registro de códigos de barras y la
        capacidad de imprimir etiquetas para identificar estos productos. Desarrollado en los siguientes Lenguajes:
      </p>
      <ul class='main-list'>
        <li>
          <span class='main-list-container'>
            <span class='main-list-icon'>◇</span> Framework Laravel 8: PHP
          </span>
        </li>
        <li>
          <span class='main-list-container'>
            <span class='main-list-icon'>◇</span> HTML: Lenguaje de marcado de hipertexto
          </span>
        </li>
        <li>
          <span class='main-list-container'>
            <span class='main-list-icon'>◇</span> PHP: Lenguaje de programación de uso general de código del lado del servidor
          </span>
        </li>
        <li>
          <span class='main-list-container'>
            <span class='main-list-icon'>◇</span> ZPL: Lenguaje de programación de impresoras de etiquetas
          </span>
        </li>
        <li>
          <span class='main-list-container'>
            <span class='main-list-icon'>◇</span> CSS: Hojas de estilo en cascada
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class='card-exp'>
    <div class='card-details'>
      <b>Clínica Sanatorio Alemán</b>
      <p>Sep 2022 - Nov 2022</p>
    </div>
    <div class='card-content'>
      <h3 class='card-title'>
        Soporte TI,
        <br /><b>Concepción, Chile</b>
      </h3>
      <p class='card-text'>
        Brindé soporte técnico especializado en tecnologías de la información (TI) para garantizar un funcionamiento ininterrumpido de los sistemas informáticos y equipos médicos en la clínica,
        asegurando así la continuidad de las operaciones y la atención de los pacientes.
      </p>
      <ul class='main-list'>
        <li>
          <span class='main-list-container'>
            <span class='main-list-icon'>◇</span> Configurar y desplegar sistemas informáticos adecuados para satisfacer las necesidades de los médicos y las secretarias de la clínica.
          </span>
        </li>
        <li>
          <span class='main-list-container'>
            <span class='main-list-icon'>◇</span> Ejecutar tareas de mantenimiento preventivo y correctivo en los equipos informáticos de la clínica para garantizar su funcionamiento óptimo.
          </span>
        </li>
        <li>
          <span class='main-list-container'>
            <span class='main-list-icon'>◇</span> Realizar visitas a terreno para resolver problemas relacionados con la informática y equipos tecnológicos en la clínica, asegurando una respuesta
            efectiva y rápida a los desafíos que puedan surgir.
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  .home-exp {
    width: 100%;
    margin-bottom: 2rem;
  }

  .card-exp {
    width: 100%;
    display: grid;
    grid-template-columns: 250px 2.5fr;
  }

  .card-details {
    margin: 16px 0 0 0;
    color: var(--text-color-I);
  }

  .card-details p {
    margin: 0;
    color: var(--text-color-II);
  }

  .card-title {
    margin: 16px 0 0 0;
    color: var(--text-color-I);
  }

  .card-title b {
    font-size: 1.15rem;
    color: var(--text-color-III);
  }

  .card-text {
    color: var(--text-color-II);
  }

  @media only screen and (max-width: 650px) {
    .card-exp {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }
</style>
