<footer class='container-footer' role='contentinfo'>
  <p>Made with 💖 by <a href='https://github.com/FantaCovid-19'>MrFantasma</a>, Developed in 🚀 Astro</p>
  <p>© 2023 MrFantasma. All rights reserved.</p>
</footer>

<style>
  .container-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
    text-align: center;
  }

  .container-footer p,
  a {
    margin: 0;
    color: var(--text-color-II);
    font-size: 14px;
  }

  .container-footer a:hover {
    color: var(--text-color-I);
  }
</style>
