---
import CardProyect from './CardProyect.astro';
---

<section class='home-project'>
  <h2 class='main-title-h2'>Proyectos</h2>

  <div class='project-main'>
    <CardProyect cardImage='https://dlqtlyyjlhuqbdkjhcft.supabase.co/storage/v1/object/public/images/projects/p1/preview.gif' cartLocation='div-1' cardTitle='Test 1' cardSkills="HTML • CSS3" cardUrl='001' />

    <CardProyect cardImage='https://dlqtlyyjlhuqbdkjhcft.supabase.co/storage/v1/object/public/images/projects/p1/preview.gif' cartLocation='div-2' cardTitle='Test 2'  cardSkills="HTML • CSS3" cardUrl='001' />

    <CardProyect cardImage='https://dlqtlyyjlhuqbdkjhcft.supabase.co/storage/v1/object/public/images/projects/p1/preview.gif' cartLocation='div-3' cardTitle='Test 3' cardSkills="HTML • CSS3" cardUrl='001' />
  </div>

  <div class='project-link'>
    <a href='/projects'>
      Ver todos <i class='fas fa-arrow-right'></i>
    </a>
  </div>
</section>

<style>
  .home-project {
    width: 100%;
    margin-bottom: 2rem;
  }

  .project-main {
    width: 100%;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0.5rem;
  }

  .project-link {
    width: 100%;
    text-align: center;
  }

  .project-link a {
    text-decoration: none;
    font-weight: 700;
    color: var(--text-color-II);
  }

  .project-link a:hover {
    color: var(--text-color-I);
  }

  @media only screen and (max-width: 650px) {
    .project-main {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
</style>
