<section class='home-skills'>
  <h2 class='main-title-h2'>Tecnologias</h2>

  <div class='container-skills'>
    <div class='skill-item'>
      <h3 class='main-title-h3'>Front-End</h3>
      <ul>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/html5.svg' alt='HTML5 Icon' />&nbsp; HTML</p>
            </span>
          </span>
        </li>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/css3.svg' alt='CSS3 Icon' />&nbsp; CSS</p>
            </span>
          </span>
        </li>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/astro.svg' alt='Astro Icon' />&nbsp; Astro</p>
            </span>
          </span>
        </li>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/nextdotjs.svg' alt='Next.JS Icon' />&nbsp; Next.JS</p>
            </span>
          </span>
        </li>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/react.svg' alt='React.JS Icon' />&nbsp; React.JS</p>
            </span>
          </span>
        </li>
      </ul>
    </div>

    <div class='skill-item'>
      <h3 class='main-title-h3'>Back-End</h3>
      <ul>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/nodedotjs.svg' alt='Node.JS Icon' />&nbsp; Node.JS</p>
            </span>
          </span>
        </li>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/express.svg' alt='Express.JS Icon' />&nbsp; Express.JS</p>
            </span>
          </span>
        </li>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/typescript.svg' alt='TypeScript Icon' />&nbsp; TypeScript</p>
            </span>
          </span>
        </li>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/javascript.svg' alt='JavaScript Icon' />&nbsp; JavaScript</p>
            </span>
          </span>
        </li>
      </ul>
    </div>

    <div class='skill-item'>
      <h3 class='main-title-h3'>DataBase</h3>
      <ul>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/mariadb.svg' alt='MariaDB Icon' />&nbsp; MariaDB</p>
            </span>
          </span>
        </li>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/mysql.svg' alt='MySQL Icon' />&nbsp; MySQL</p>
            </span>
          </span>
        </li>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/mongodb.svg' alt='MongoDB Icon' />&nbsp; MongoDB</p>
            </span>
          </span>
        </li>
      </ul>
    </div>

    <div class='skill-item'>
      <h3 class='main-title-h3'>DevOps</h3>
      <ul>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/docker.svg' alt='Docker Icon' />&nbsp; Docker</p>
            </span>
          </span>
        </li>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/git.svg' alt='Git Icon' />&nbsp; Git</p>
            </span>
          </span>
        </li>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/github.svg' alt='GitHub Icon' />&nbsp; Github</p>
            </span>
          </span>
        </li>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/cloudflare.svg' alt='CloudFlare Icon' />&nbsp; Cloudflare</p>
            </span>
          </span>
        </li>
      </ul>
    </div>

    <div class='skill-item'>
      <h3 class='main-title-h3'>Cloud</h3>
      <ul>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/amazonaws.svg' alt='AWS Icon' />&nbsp; AWS</p>
            </span>
          </span>
        </li>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/googlecloud.svg' alt='GCloud Icon' />&nbsp; GCloud</p>
            </span>
          </span>
        </li>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/linux.svg' alt='Linux Icon' />&nbsp; Linux</p>
            </span>
          </span>
        </li>
        <li class='main-button'>
          <span class='main-button-container'>
            <span class='main-button-content'>
              <p><img class='skill-icon' src='/svg/windows.svg' alt='Windows Icon' />&nbsp; Windows</p>
            </span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  .home-skills {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .container-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
  }

  .skill-item {
    margin: 0;
    padding: 0;
  }

  .skill-item ul {
    max-width: max-content;
    display: flex;
    flex-direction: column;
  }

  .skill-item ul,
  p {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .skill-item li {
    margin: 0.5rem 0.5rem 0.5rem 0;
  }

  .skill-icon {
    width: 16px;
    height: 16px;
    filter: invert(1);
  }

  @media only screen and (max-width: 800px) {
    .container-skills {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media only screen and (max-width: 650px) {
    .home-skills {
      margin-bottom: 1rem;
    }

    .container-skills {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    .skill-item {
      margin-bottom: 1rem;
    }

    .skill-item ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
</style>
